div.container {
  flex: 1;
  width: 100%;
  min-height: 70%;
  border: 1px solid #747474;
  overflow-y: scroll;
}
div.container::-webkit-scrollbar {
  width: 2px; 
  height: 2px; 
}
div.container::-webkit-scrollbar-thumb {
  background: rgb(0, 150, 40); 
  border-radius: none; 
}
div.container::-webkit-scrollbar-thumb:hover {
  background: rgb(70, 255, 70); 
}
div.container::-webkit-scrollbar-track {
  background: #747474; 
  border-radius: none;
}
div.console {
  padding: 0.5rem;
  width: 100%;
  height: 30%;
  border: 1px solid #747474;
  background-color: #2f2f2f;
  font-family: monospace;
  line-height: 1.5rem;
  color: #bababa;
  overflow-y: scroll;
  scrollbar-width: none;
}
div.console div {
  display: flex;
}
div.console span {
  min-width: fit-content;
  background: none;
  user-select: none;
}
div.console input {
  font-size: 1rem;
  line-height: 1.5rem;
  padding-block: 0;
  padding-inline: 0;
  background: none;
  font-family: monospace;
  width: 100%;
  color: #bababa;
  border: none;
  outline: none;
}
div.console input:focus {
  outline: none;
}

div.console.hidden {
  height: auto;
}
div.console.hidden p {
  display: none;
}