div.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 60%;
  margin: 1rem 10rem 0.5rem 10rem;
  border: none;
  border-radius: 1rem;
  background-color: #ffffff10;
  box-shadow: 0 0 1rem #00000040;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}
div.container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
img.background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
}
div.console {
  height: 30%;
  margin: 0.5rem 10rem 1rem 10rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: #ffffff10;
  box-shadow: 0 0 1rem #00000040;
  font-family: monospace;
  line-height: 1.5rem;
  color: #bababa;
  overflow: scroll;
  scrollbar-width: none;
}
div.console span {
  min-width: fit-content;
  background: none;
  user-select: none;
}
div.console div.input input {
  max-width: 100%;
  min-width: 60%;
  z-index: 10;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-block: 0;
  padding-inline: 0;
  background: none;
  font-family: monospace;
  color: #bababa;
  border: none;
  outline: none;
}
div.console div.input input:focus {
  outline: none;
}

div.console.hidden {
  height: auto;
}
div.console.hidden div.output {
  display: none;
}

@media (max-width: 1200px) {
  div.container {
    display: block;
    margin: 2rem 2rem 1rem 2rem;
  }
  div.console {
    margin: 1rem 2rem 2rem 2rem;
  }
}
