div.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 60%;
  margin: 1rem 10rem 1rem 10rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: #ffffff10;
  box-shadow: 0 0 1rem #00000040;
}
div.container div.title {
  flex: 1;
  display: flex;
  flex-direction: row;
  font-family: "Signature";
  justify-content: center;
  align-items: center;
}
div.container div.content {
  flex: 5;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
img.background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
}
div.console {
  height: 30%;
  margin: 1rem 10rem 1rem 10rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: #ffffff10;
  box-shadow: 0 0 1rem #00000040;
  font-family: monospace;
  line-height: 1.5rem;
  color: #bababa;
  overflow-y: scroll;
  scrollbar-width: none;
}
div.console div {
  display: flex;
}
div.console span {
  min-width: fit-content;
  background: none;
  user-select: none;
  white-space: pre;
}
div.console input {
  font-size: 1rem;
  line-height: 1.5rem;
  padding-block: 0;
  padding-inline: 0;
  background: none;
  font-family: monospace;
  width: 100%;
  color: #bababa;
  border: none;
  outline: none;
}
div.console input:focus {
  outline: none;
}

div.console.hidden {
  height: auto;
}
div.console.hidden div.output {
  display: none;
}