@font-face {
  font-family: "MyCustomFont";
  src: url("../fonts/zh-tw.ttf") format("truetype");
  font-weight: normal; 
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #181818;
  color: white;
  width: 100vw;
  height: 100vh;
  font-family: "MyCustomFont", "Noto Sans TC", sans-serif;
  font-size: clamp(7px, 0.75vw, 18px);
}

span,
p {
  padding: 0;
  margin: 0.05rem;
  min-height: 1rem;
}

input {
  font-size: clamp(7px, 0.75vw, 18px)
}

div {
  overflow: hidden;
}
div.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
div.row {
  /* display: flex; */
  flex-direction: row;
  flex: 1;
}
div.col {
  /* display: flex; */
  flex-direction: column;
  flex: 1;
}
div.content-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
  height: 0%;
  gap: 2rem;
  animation: slideIn 2s ease-in-out forwards;
  animation-delay: 2s; 
}
@keyframes slideIn {
  from {
    height: 0%;
  }
  to {
    height: 80%;
  }
}
div.content-div div.container1 {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 2rem;
  background-color: #2f2f2f;
  height: 35rem;
  border-radius: 2rem;
  border: 1px solid #747474;
  opacity: 0;
  box-shadow: 0 0 1rem rgb(0, 0, 0);
  animation: fadeIn 2s ease-in forwards;
  animation-delay: 4s;
}
div.content-div div.container2 {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  background-color: #2f2f2f;
  height: 35rem;
  border-radius: 2rem;
  border: 1px solid #747474;
  opacity: 0;
  box-shadow: 0 0 1rem rgb(0, 0, 0);
  animation: fadeIn 2s ease-in forwards;
  animation-delay: 4s;
}
div.content-div div div.sub-container1 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #1f1f1f;
  height: 100%;
  border-radius: 0px;
  opacity: 1;
  box-shadow: inset 0 0 2rem black;
}

div.title-div {
  margin: 2rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.title-div p.title {
  padding: 0.5rem;
  font-size: 3rem;
  text-align: center;
  text-shadow: 0 0 1rem white;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}
div.title-div p.subtitle {
  font-size: 1.2rem;
  text-align: center;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
  animation-delay: 1s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
p.header1 {
  font-size: 2rem;
}
p.header2 {
  font-size: 1.6rem;
}

@media (max-width: 1200px) {
  html,
  body {
    font-size: clamp(7px, 1.5vw, 18px);
  }

  div.layout {
    height: fit-content;
  }
  div.content-div {
    flex-direction: column;
  }
  div.content-div div.container1 {
    flex: none;
    height: 35rem;
    width: 50rem;
  }
  div.content-div div.container2 {
    display: flex;
    flex: none;
    height: 35rem;
    width: 50rem;
  }
}
