@font-face {
  font-family: "StandardFont";
  src: url("../fonts/zh-tw.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SignatureFont";
  src: url("../fonts/signature-us.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #181818d0;
  color: white;
  width: 100vw;
  height: 100vh;
  font-family: "StandardFont", "Noto Sans TC", sans-serif;
  font-size: clamp(7px, 0.75vw, 18px);
}

span,
p {
  padding: 0;
  min-height: 1rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

input {
  font-size: clamp(7px, 0.75vw, 18px);
}

div {
  overflow: hidden;
}
div.flex {
  flex: 1;
}
div.row {
  display: flex;
  flex-direction: row;
}
div.col {
  display: flex;
  flex-direction: column;
}
div.title-div {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  font-family: "Noto Sans TC", sans-serif;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  backdrop-filter: blur(8px);
  border-bottom: 1px solid #00000040;
}
div.content-div {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: visible;
}
div.content-div div.container1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 35rem;
  border-radius: 1rem;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}
div.content-div div.container2 {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  height: 35rem;
  border-radius: 1rem;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}
div.content-div div div.sub-container1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #00000020;
  box-shadow: inset 0 0 2rem #00000040;
}
div.content-div div div.sub-container2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

p.title {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 1rem white;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}
p.subtitle {
  font-size: 2rem;
  text-align: center;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
  animation-delay: 1s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

span.header1,
p.header1 {
  font-size: 2rem;
}
span.header2,
p.header2 {
  font-size: 1.6rem;
}
span.p1,
p.p1 {
  font-size: 1rem;
}

@media (max-width: 1200px) {
  html,
  body {
    font-size: clamp(12px, 1vh, 16px);
  }

  div.title-div {
    flex-direction: column;
  }
  div.content-div {
    flex-direction: column;
    justify-content: flex-start;
  }
  div.content-div div.container1 {
    flex: none;
    height: 35rem;
    width: 100%;
  }
  div.content-div div.container2 {
    display: flex;
    flex: none;
    height: 35rem;
    width: 100%;
  }
  div.content-div div div.sub-container2 {
    flex-direction: column;
  }

  p.title {
    font-size: 2.4rem;
  }
  p.subtitle {
    font-size: 1.6rem;
  }
}

/* Test zone */
