img.profile-picture {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin: 1rem;
  box-shadow: 0 0 1rem white;
  animation: rgb-shadow 3s infinite;
}

@keyframes rgb-shadow {
  0% {
    box-shadow: 0 0 2rem rgb(255, 0, 0);
  }
  33% {
    box-shadow: 0 0 2rem rgb(0, 255, 0); 
  }
  66% {
    box-shadow: 0 0 2rem rgb(0, 0, 255); 
  }
  100% {
    box-shadow: 0 0 2rem rgb(255, 0, 0); 
  }
}

p.introduce-title {
  font-size: 1.6rem;
  margin: 4px;
}
p.introduce-content {
  font-size: 1rem;
  margin: 2px;
}
