div.player {
  flex: 1;
  justify-content: center;
  pointer-events: none;
  background-color: black;
  box-shadow: 0 0 2rem black;
  animation: rgb-shadow 5s infinite linear;
}

div.track-card.selected {
  border: 1px solid rgb(0, 150, 40);
  box-shadow: 0 0 0.6rem rgb(70, 255, 70);
}
div.track-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  background-color: #2f2f2f;
  height: 5.5rem;
  border-radius: 1rem;
  opacity: 1;
  box-shadow: 0 0 0.6rem black;
}
div.track-card div.track-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}
div.track-card div.track-info p.track-title {
  font-size: 0.8rem;
  color: white;
}
div.track-card div.track-info p.track-subtitle {
  font-size: 0.6rem;
  color: #bababa;
}

p.online-user {
  color: #00ca00;
}
p.log {
  height: fit-content;
}

@keyframes rgb-shadow {
  0% {
    box-shadow: 0 0 2rem rgb(255, 0, 0);
  }
  33% {
    box-shadow: 0 0 2rem rgb(0, 255, 0); 
  }
  66% {
    box-shadow: 0 0 2rem rgb(0, 0, 255); 
  }
  100% {
    box-shadow: 0 0 2rem rgb(255, 0, 0); 
  }
}