div.track-card.selected {
  border: 1px solid rgb(0, 150, 40);
  box-shadow: 0px 0px 0.6rem rgb(70, 255, 70);
}
div.track-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  background-color: #1f1f1f;
  height: 5rem;
  border-radius: 1rem;
  border: 1px solid #747474;
  opacity: 1;
  box-shadow: 0px 0px 0.6rem black;
}
div.track-card div.track-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}
div.track-card div.track-info p.track-title {
  font-size: 0.8rem;
  color: white;
}
div.track-card div.track-info p.track-subtitle {
  font-size: 0.6rem;
  color: #bababa;
}

p.online-user {
  color: #00ca00;
}
p.log {
  height: fit-content;
}
